/* 
    Document   : workflow
    Created on : Oct 23, 2010, 8:38:19 AM
    Author     : juanb
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

