A
{
	padding: 0px;
	font: 12px Tahoma;
	color: #87792D;
	text-decoration: none;
}
BODY
{
	margin: 0;
	background: #E0EBFD;
}
P
{
	color: #B11515;
	font-family: Tahoma;
	font-size: 10px;
}
/*Detalles*/
#detalles
{
	width: 400px;
	background: #E1ECFE;
	margin: 4px 0 0 4px;
	overflow: hidden;
}
#detalles H1
{
	font: 14px Tahoma;
	color: #2E3947;
	font-weight: bold;
	display: block;
	position: absolute;
	top: -6px;
}
#detalles INPUT, #detalles TEXTAREA, #detalles SELECT
{
	color: #87792D;
	font-size: 12px;
}
.detalles-block
{
	width: 100%;
	height: 27px;
	margin: 0 0 2px;
	float: left;
	position: relative;
}
#detalles .detalle-texarea
{
	height: 89px;
}
#detalles #detalle-bottombar
{
	margin: 10px 0 0;
}
#detalles .detalles-block INPUT, #detalles .detalles-block TEXTAREA, #detalle-estado, #detalle-agenda
{
	position: absolute;
	top: 0;
	left: 128px;
	width: 250px;
}
#detalles DIV TEXTAREA
{
	height: 80px;
}
#detalle-bottombar DIV A:hover
{
	background: #BED4F8;
}
.guardar
{
	margin: 10px 2px 2px;
	float: right;
}
.cerrar
{
	margin: 10px 2px 2px;
	float: right;
}
.borrar
{
	margin: 10px 10px 2px 2px;
	float: right;
}
.guardar A SPAN
{
	background: url(../JS/dhtmlxScheduler/codebase/imgs/controls.gif) 145px -3px;
	width: 21px;
	height: 17px;
	display: block;
	float: left;
}
.cerrar A SPAN
{
	background: url(../JS/dhtmlxScheduler/codebase/imgs/controls.gif) 167px -3px;
	width: 21px;
	height: 17px;
	display: block;
	float: left;
}
.borrar A SPAN
{
	background: url(../JS/dhtmlxScheduler/codebase/imgs/controls.gif) 209px -3px;
	width: 21px;
	height: 17px;
	display: block;
	float: left;
}
.obligatorio
{
	background: url(../imagenes/iconos2.png) no-repeat;
	width: 17px;
	height: 17px;
	position: absolute;
	z-index: 1;
}
/*Autor*/
#botonera
{
	width: 148px;
	height: 30px;
	left: 235px;
	top: -2px;
	position: absolute;
}
#detalle-bottombar
{
	float: left;
	position: relative;
	width: 380px;
	height: 55px;
	border-top: 1px dotted #2E3947;
	padding-top: 2px;
	top: 10px;
}
#detalle-autor
{
	width: 243px;
	height: 41px;
	padding: 0 0 0 20px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0;
}
#autor-fecha
{
	background: url(../imagenes/edit.png) no-repeat 0px 3px;
	font: 12px Tahoma;
	position: absolute;
	top: 0px;
	left: 2px;
	width: 100px;
	height: 24px;
	padding: 5px 0 0 19px;
	font-size: 11px;
}
#autor-nombre
{
	font: 12px Tahoma;
	color: #2E3947;
	font-weight: bold;
	position: absolute;
	top: 5px;
	left: 87px;
	width: 154px;
	height: 24px;
	padding: 0;
}
#autor-grupo
{
	font: 12px Tahoma;
	color: #2E3947;
	font-weight: bold;
	position: absolute;
	top: 22px;
	left: 87px;
	width: 154px;
	height: 24px;
	padding: 0;
}
/*Detalle Fechas*/
#detalle-timebar-inicio
{
	width: 100%;
	height: 30px;
	position: relative;
}
#detalle-timebar-inicio2
{
	position: absolute;
	top: 4px;
	left: 128px;
	width: 267px;
}
#detalle-timebar-fin
{
	width: 100%;
	height: 30px;
	position: relative;
}
#detalle-timebar-fin2
{
	position: absolute;
	top: 4px;
	left: 128px;
	width: 267px;
	height: 27px;
}
#start_date, #end_date
{
	width: 80px !important;
}
#start_hour, #end_hour
{
	width: 50px;
}
#start_minute, #end_minute
{
	width: 50px;
}
