/* 
    Document   : menu
    Created on : Aug 14, 2012, 6:04:39 PM
    Author     : juanb
    Description:
        Purpose of the stylesheet follows.
*/

.content-secondary{
    width:30%;
    float: left;
/*    border: 1px green dashed;*/
}
.content-primary{
    width:65%;
    display: block;
    float: right;
    margin-top: 1%;
    padding: .5em;
    border: 8px LightGray solid;
    /*overflow: auto;*/
}
