/* 
    Document   : genias
    Created on : 17/04/2013, 12:54:16
    Author     : gabriel
    Description:
        Purpose of the stylesheet follows.
*/

.task_list li{
  border-bottom: 1px dotted #ccc;
  padding:4px;
}


.task_list a{
    padding: 0px 4px;
}

