/* 
    Document   : dashboard
    Created on : 
    Author     : Gabriel Fojo
    Description: Custom Css
        
*/


body > .header .logo {
  font-family: droid_sansregular;
  background-color:#132D60 ;

}

body > .header .logo span{
  font-family: chunkfiveroman;

}

