/* 
    Document   : dashboard
    Created on : 
    Author     : Gabriel Fojo
    Description: Custom Css
        
*/

body{
	background-color:#f60 !important;
}
body > .header .logo {
  font-family: droid_sansregular;
  background-color:#132D60 ;

}

body > .header .logo span{
  font-family: chunkfiveroman;

}

/* Industria Colors */

.skin-blue .navbar{background-color:#01ABA8 ;}
a.logo:hover{background-color:#132D60 !important;}
.bg-light-blue{	background-color:#132D60 !important;}