/* 
    Document   : dashboard
    Created on : Mar 4, 2013, 11:52:32 AM
    Author     : Juan Ignacio Borda <juanignacioborda@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.icon-bpm:before              { 
    transform: rotate(270deg);
    content: "\f0e8"; 
}
