BODY, HTML
{
	background-color: #FFF !important;
	font-family: arial;
	font-size: 12px;
}
.objbox
{
	overflow: visible !important;
}
#grid1
{
	overflow: visible !important;
	width: 100% !important;
}
DIV.gridbox_light TABLE.obj TD
{
	border-bottom: 1px solid #CCCCCC !important;
	padding: 5px 0;
	overflow-x: hidden;
}
#menu
{
	margin-bottom: 20px !important;
}
#desde, #hasta
{
	margin: 0 5px;
	width: 80px;
	color: #87792D;
}
