
/*
*   Screen Media Queries
* 
*/


@media screen {



BODY, HTML
{
	padding: 2px;
	margin: 2px;
	font: 12px tahoma;
	color: #87792D;
	background: #E0EBFD;
}
#menu
{
	width: 690px;
	height: 30px;
	padding: 5px;
	position: relative;
	color: #2E3947;
}
#mensaje
{
	position: absolute;
	top: 0;
	left: 368px;
}
#desde, #hasta
{
	margin: 0 5px;
	width: 80px;

        
}

#search_field
{
	width: 78px;
}
#search_text
{
	width: 143px;
}
#search_box
{
	top: 5px;
        display:inline-block;
                float:left;
}

#date_box
{
float:left;
}


#print
{
	width: 30px;
	height: 30px;
	background: url(../images/iconos1.png) 0px -60px;
	display: inline-block;
        float:left;
        margin:0 6px;
}
#csv
{
	width: 30px;
	height: 30px;
	background: url(../images/iconos1.png) 0px -450px;
	display: inline-block;
        float:left;
        margin:0 6px;
}
#ical
{
	width: 30px;
	height: 30px;
	background: url(../images/iconos1.png) 0px -540px;
	display: inline-block;
        float:left;
        margin:0 6px;
}

#refresh
{
	width: 30px;
	height: 30px;
	background: url(../images/iconos1.png) 0px -420px;
	display: inline-block;
        float:left;
        margin:0 6px;
}

/* media-specific rules */
}

/*
*   Print Media Queries
* 
*/



@media print {

BODY, HTML
{
	background-color: #FFF !important;
	font-family: arial;
	font-size: 12px;
}
.objbox{overflow: visible !important;}
#grid1
{
	overflow: visible !important;
	width: 100% !important;
}
DIV.gridbox_light TABLE.obj TD
{
	border-bottom: 1px solid #CCCCCC !important;
	padding: 5px 0;
	overflow-x: hidden;
}

#menu{display:none;}


}