BODY, HTML
{
	padding: 2px;
	margin: 2px;
	font: 12px tahoma;
	color: #87792D;
	background: #E0EBFD;
}
#menu
{
	width: 690px;
	height: 30px;
	padding: 5px;
	position: relative;
	color: #2E3947;
}
#mensaje
{
	position: absolute;
	top: 0;
	left: 368px;
}
#desde, #hasta
{
	margin: 0 5px;
	width: 80px;
	color: #87792D;
}
#refresh
{
	width: 30px;
	height: 30px;
	background: url(../imagenes/iconos1.png) 0px -420px;
	display: block;
	position: absolute;
	left: 251px;
	top: 0;
}
#search_field
{
	/*[disabled]width:78px;*/
}
#search_text
{
	/*[disabled]width:143px;*/
}
#search_box
{
	/*[disabled]position:absolute;*/
	/*[disabled]top:5px;*/
	/*[disabled]left:250px;*/
}
#print
{
	width: 30px;
	height: 30px;
	background: url(../imagenes/iconos1.png) 0px -60px;
	display: block;
	position: absolute;
	left: 288px;
	top: 0;
}
#csv
{
	width: 30px;
	height: 30px;
	background: url(../imagenes/iconos1.png) 0px -450px;
	display: block;
	position: absolute;
	left: 325px;
	top: 0;
}
#ical
{
	width: 30px;
	height: 30px;
	background: url(../imagenes/iconos1.png) 0px -540px;
	display: block;
	position: absolute;
	left: 596px;
	top: 0;
}
