/* 
    Document   : fileman
    Created on : May 15, 2013, 5:03:42 PM
    Author     : Juan Ignacio Borda <juanignacioborda@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/


#reader {
    width:300px;
    height:250px;
    margin:0 auto;
    float:none;

}

.qr {
    width:300px;
    height:300px;
}