/* 
    Document   : groups
    Created on : May 27, 2012, 6:45:26 PM
    Author     : juanb
    Description:
        Purpose of the stylesheet follows.
*/
h1 {
        float:left;
        margin:8px 5px;
        font-size: 18px;
        color: #455C6F;
}
#app-logo {
        float: left;
        margin: 5px 10px;
        width: 32px;
        height:32px;
        background: url(../images/contact-list.png) no-repeat 0 2px;
        
}

.group-list-item {
        margin-top: 3px;
        padding-left: 20px;
        font-size: 11px;
        line-height: 20px;
        cursor: pointer;
        background: url(../images/group.gif) no-repeat 0 2px;
        border: 1px solid #fff;
}
.group-list-item-hover {
        background-color: #eee;
}
.group-list .x-item-selected {
        font-weight: bold; 
        color: #15428B;
        background-color: #DFE8F6;
        border: 1px dotted #A3BAE9;
}
/* 4 tree */
.dot-green{
        background-image: url(../images/dot-green.png) !important;
        background-repeat: no-repeat;
    
}
.dot-red{
        background-image: url(../images/dot-red.png) !important;
        background-repeat: no-repeat;
    
}
.dot-yellow{
        background-image: url(../images/dot-yellow.png) !important;
        background-repeat: no-repeat;
    
}
.ok{
   color:#009933; 
}

.icon-add {
    background-image: url(../images/add.png) !important;
}
.icon-delete {
    background-image: url(../images/delete.png) !important;
}
.icon-save {
    background-image: url(../images/save.gif) !important;
}